<p>{{quotes.description}}</p>
<i class="fa-light fa-thumbs-up"></i>
<p>-- on {{quotes.completeDate |date}} ({{quotes.completeDate |timeCount}}day(s) ago) </p>
 <div class="d-grid gap-2 d-md-block">
 <button class="btn text-success" (click)="upVote()">{{quotes.upvotes}}
    <img src="https://raw.githubusercontent.com/Mercywairimu01/quotes-app/main/src/assets/thumbsup.png" alt="thumbsup img" width="20px">
</button>
<span> <button class="btn text-danger btn-sm" id="btn1" (click)="downVote()" >{{quotes.downvotes}}
    <img src ="https://raw.githubusercontent.com/Mercywairimu01/quotes-app/main/src/assets/thumbsdown.png" alt="thumbsdown img" width="20px" >
</button></span>
</div>
<button (click) = 'quotesDelete(true)'>Delete</button>




<!-- <p><span  class="text-success">{{quotes.upvotes}} <img src="https://raw.githubusercontent.com/Mercywairimu01/quotes-app/main/src/assets/thumbsup.png" alt="" width="2%"></span>  <span class="text-danger ml-3">{{quotes.downvotes}} <img src ="https://raw.githubusercontent.com/Mercywairimu01/quotes-app/main/src/assets/thumbsdown.png" alt="thumbsdown img" width="2.5%"></span></p> -->
