<div class="container">
  <div class="row">
<h1 class="mt-5 text-center bg-info">Famous Quotes of all time!</h1>
<hr>
<ul>
  <div class="container" >
  <div class ="row-6 justify-content-around" >
  <div class="col-7"*ngFor='let quote of quotes;let i = index' id="colu" >

    <div *ngIf="most == quote.upvotes && quote.upvotes>0;then highlight else note"></div>
    <ng-template #highlight> 
      <div  appHighlight>
      <li class="que">{{quote.quote}} </li>
      <li class="quo"><strong>{{quote.author}}</strong> </li>
    
    </div>
    </ng-template>
    <ng-template #note>
      <div>
    <li class="que" >{{quote.quote}} </li>
    <li class="quo">Author:<strong>{{quote.author}}</strong> </li>
    </div>
    
  </ng-template>
  <b style="color: rgb(79, 100, 177);" (click)='toggleDetails(i)'>See More</b>
    <app-quote-details *ngIf='quote.showDescription' [quotes]='quote' (isComplete) = 'deleteQuote($event,i)' id="start"></app-quote-details>
  </div>
  </div>
  <div class="col-6">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  </div>
  
</ul>

  </div>
</div>
