<div class="container">
  <div class="row  " id="wow">
<h1 class="mt-5 text-center">Famous Quotes of all time!</h1>
<hr>
<ul>
  <!-- <div class="container" > -->
<div id="eel">
  <div>
    <div class="col"*ngFor='let quote of quotes;let i = index' id="colu"  >

    <div *ngIf="most == quote.id && quote.id>1;then highlight else note"></div>
    <ng-template #highlight> 
      <div  appHighlight>
      <li class="que">{{quote.quote}} </li>
      <li class="quo"><strong>{{quote.author}}</strong> </li>
    
    </div>
    </ng-template>
    <ng-template #note>
      <div>
    <li class="que" >{{quote.quote}} </li>
    <li class="quo">Author:<strong>{{quote.author}}</strong> </li>
    </div>
    
  </ng-template>
  <b style="color:rgb(98,203,241);" (click)='toggleDetails(i)'>See More</b>
    <app-quote-details *ngIf='quote.showDescription' [quotes]='quote' (isComplete) = 'deleteQuote($event,i)' id="start"></app-quote-details>
  </div>
   </div> 
  <div class="col-5">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <!-- </div> -->
</div>
</ul>

  </div>
</div>
