<h1 class="mt-5 text-center bg-info">My Quotes</h1>
<hr>
<ul>
  <div class="container" >
 <div class ="row" *ngFor='let quote of quotes;let i = index'>
    <li class="que">{{quote.quote}} </li>
    <li class="quo">{{quote.author}} </li>
    
    <button style="width: 120px;" (click)='toggleDetails(i)'>See More</button>
    <app-quote-details *ngIf='quote.showDescription' [quotes]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
  </div>
  </div>
</ul>
<!-- <div>
    <h1>M</h1>
    <hr>
    <ul *ngFor="let s">
    {{quote.name}}
    <app-quote-details *ngIf="quote.showDescription" [quotes]="quote"></app-quote-details>
    </ul>
  </div> -->