#wow{
    background-color:rgba(98,203,241,0.4) ;
}
.quote{
    background-image: url('../src/assets/photo-1553095066-5014bc7b7f2d.jpeg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    /* height: 91vh; */

}

#colu{
    background-color:white;
    list-style: none;
    border: 1px solid rgb(15, 15, 15);
    padding: 1%;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
   
}  
.que {
    
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.quo{
    text-align: center; 
}
b{
   margin-left: 200px;
}
b:hover{
    cursor: pointer;
    
}
/* .fluid{
    float: right;
} */
.icons{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.773);
}
